*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: black;
  background-color: antiquewhite;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  color: #f16059;
}

.headline {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.container-btn {
  width: 200px;
  height: 30px;
  background-color: #f16059;
  text-transform: uppercase;
  border: none;
  border-radius: 150px;
  color: white;
  cursor: pointer;
}

.container-img {
  z-index: 0;
}

.answer {
  position: absolute;
  top: 228px;
  z-index: 1;
  left: 688px;
  color: aliceblue;
}

.shake {
  animation: 2s shake;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}